@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wrapper-konfirmasi {
  font-family: 'inter', sans-serif;
}
.boxbawah {
  border: 3px solid #000000;
  border-radius: 0 0 8px 8px;
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
  font-weight: bold;
}

.harga-paket {
  color: #0b2589;
  font-size: 20px;
  font-weight: 500;
}

.border-button {
  border-radius: 8px 8px 0 0;
  border: 3px solid #000000;
  margin-inline: 15px;
}
